{% extends 'base.html.twig' %}

{% block page_title %}New Java Article{% endblock %}

{% block page_content %}
    <a class="btn" href="{{ path('java_article_index') }}">Back</a>
    {{ include('java_article/_form.html.twig') }}
{% endblock %}
