{% extends 'base.html.twig' %}

{% block page_title %}New Java Article{% endblock %}

{% block page_content %}
    {{ include('java_article/_form.html.twig') }}
    <a href="{{ path('java_article_index') }}">back to list</a>
{% endblock %}
