{% extends 'base.html.twig' %}

{% block page_title %}{{ java_article.title }}{% endblock %}

{% block page_subtitle %}{{ java_article.description }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
