{% extends 'base.html.twig' %}

{% block page_title %}New Category{% endblock %}

{% block page_content %}
    {{ include('java_article_category/_form.html.twig') }}

    <a href="{{ path('java_article_category_index') }}">back to list</a>
{% endblock %}
