<li><a href="{{ path('login'|route_alias) }}" class="btn text-center">
        {{ 'Login'|trans({}, 'AdminLTEBundle') }}
    </a>
</li>
<li><a href="https://it-kids.com/student-application/" target="_blank" class="btn text-center">
        {{ 'Register'|trans({}, 'AdminLTEBundle') }}
    </a>
</li>

