<li><a href="{{ path('login'|route_alias) }}" class="btn btn-warning text-center">
        {{ 'Login'|trans({}, 'AdminLTEBundle') }}
    </a>
</li>
{#<li><a href="{{ path('registration'|route_alias) }}" class="btn btn-warning text-center">#}
{#        {{ 'Signup'|trans({}, 'AdminLTEBundle') }}#}
{#    </a>#}
{#</li>#}

