body {
    background-color: lightgray;
}

.skin-blue .main-header .logo {
    background-color: #4b616d !important;
}

.skin-blue .main-header .logo:hover {
    background-color: #4b616d !important;
}

.skin-blue .main-header .navbar {
    background-color: #3d515d !important;
}
