{% extends 'base.html.twig' %}

{% block page_title %}Online Compiler{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
